.scroll-top-settings .inside img {
	width: 100%;
}

.scroll-top-settings .form-table tr:nth-child(3) {
	display: none;
}

.scroll-top-settings .checkbox-img label input[type="radio"] {
	vertical-align: top;
	margin-top: 2px;
}
